# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\user\Documents\UCL\Year1\Term2\Object-Oriented Programming\Coursework\Coursework 2\2021\COMP0004_Coursework2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
